.positive {
	color: green;
}

.negative {
	color: red;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 205%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.progbutton {
  width: 60px;
}

.reqtext {
  float: right;
}

.buttongroup {
  display: inline-grid;
  width: 60px;
}

.buttongroup button {
  padding: 0px;
}

.maindiv {
  padding: 2px;
}